.loader_bg{
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader::before,.loader::after {
  content: '';
  border: 1em solid cyan;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0%;
  left: 0%;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader::before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}



*{
  padding: 0px;
  margin: 0px;
  
}

#container {
	text-align: center;
    position: relative;
    top: 70px;
    
}



.html logo{
    height: 12px;
}
#text {
	display: inline-block;
	vertical-align: middle;
	color:  #fff;
	letter-spacing: 2px;
    font-size: 50px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: orange;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: orange; 
	}
}
body
{

  
  
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  
  height: 1400px;
  
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
.logoname{
  position: relative;
  text-align: center;
  justify-content: center;
  left: -630px;
  color: #fff;
  font-family: "Sofia", sans-serif;
}
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}
#html logo{
    width: 12px;
}
.navbar-brand{
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  right: -620px;
}
.contacttext{
  font-size: 35px;
  color: white;
}
#address{
color: blue;
}
.recc{
  font-size: 20px;
}
.websitemail{
  color: #fff;
  font-size: 20px;
  

}
